<!DOCTYPE html>
<html>

<head>
  <title>Game generator</title>
</head>

<body>
  <h1>Game generator</h1>
  <form method="POST" action="/">
    <label for="title">Project name: (does not affect game)</label><br/>
    <input type="text" name="project_name" id="project_name"> <br/>
    <label for="ask">Game idea (be very detailed): *</label><br/>
    <textarea type="text" cols="40" rows="5" id="ask" name="ask" required></textarea><br/>
    <input type="submit" value="Submit">
  </form>
</body>

</html>
